src/main/mule/TimeBasedAggregators.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:aggregators="http://www.mulesoft.org/schema/mule/aggregators"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/aggregators http://www.mulesoft.org/schema/mule/aggregators/current/mule-aggregators.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="TimeBasedAggregatorsFlow" doc:id="777136d6-81a1-4cce-a0de-66bcd83033fe" >
		<http:listener doc:name="Listener" doc:id="bf8d0190-7086-40a9-89b9-2e204c5799df" config-ref="HTTP_Listener_config" path="/TimeBasedAggregators"/>
		<aggregators:time-based-aggregator doc:name="Time based aggregator" doc:id="aadd5f47-7163-46ae-a2d1-d103e6007cc1" name="TimeBasedAggregators" period="10" maxSize="5">
			<aggregators:incremental-aggregation >
				<logger level="INFO" doc:name="Logger" doc:id="d0bad1e4-0e63-4c52-9ab7-f487d215a4ce" message="#[payload]"/>
			</aggregators:incremental-aggregation>
		</aggregators:time-based-aggregator>
	</flow>
	<flow name="TimeBasedAggregatorsFlow1" doc:id="b1a4c5bc-f01d-4456-8d35-7bd4f73f82ee" >
		<aggregators:aggregator-listener doc:name="Aggregator listener" doc:id="afacb862-fe4f-4722-8a2c-c9fae2235fce" aggregatorName="TimeBasedAggregators"/>
		<ee:transform doc:name="Transform Message" doc:id="b9cf2983-b25c-4032-acd2-069749aa251f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="cab43512-92ad-41e4-8ceb-cb41214edfa6" message="#[payload]"/>
	</flow>
</mule>
